<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    
    <header id="header">
      <div id="nav">
        <ul>
          <li class="icon">
            <a href="#"><i class="fas fa-bars fa-2x"></i></a>
          </li>
          <% for (var i in theme.nav) { %> 
            <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
          <% } %>
        </ul>
      </div>
    </header>

    <div class="meta">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
    
  </header>

  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
<%- partial('_partial/comments') %>
